<% layout('../../layout/master') -%>

<% stylesheet('assets/css/bootstrap.min.css') -%>
<% stylesheet('assets/css/font-awesome.min.css') -%>
<% stylesheet('assets/css/styles.css') -%>
<% stylesheet('assets/css/themify-icons.css') -%>
<% stylesheet('assets/css/metisMenu.css') -%>
<% stylesheet('assets/css/owl.carousel.min.css') -%>
<% stylesheet('assets/css/typography.css') -%>
<% stylesheet('assets/css/default-css.css') -%>
<% stylesheet('assets/css/responsive.css') -%>
<% stylesheet('https://www.amcharts.com/lib/3/plugins/export/export.css') -%>

<% block('title', 'Dashboard - Club Management System'); -%>

<!-- Content -->
<h1>Index Page</h1>


<!-- script -->
<% script('assets/js/vendor/jquery-2.2.4.min.js') -%>
<% script('assets/js/popper.min.js') -%>
<% script('assets/js/bootstrap.min.js') -%>

<!-- offset area end -->
<% script('assets/js/owl.carousel.min.js') -%>
<% script('assets/js/metisMenu.min.js') -%>
<% script('assets/js/jquery.slimscroll.min.js') -%>
<% script('assets/js/jquery.slicknav.min.js') -%>

<!-- start chart js -->
<% script('https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js') -%>

<!-- start highcharts js -->
<% script('https://code.highcharts.com/highcharts.js') -%>
<% script('https://code.highcharts.com/modules/exporting.js') -%>
<% script('https://code.highcharts.com/modules/export-data.js') -%>

<!-- all line chart activation -->
<% script('assets/js/line-chart.js') -%>

<!-- all bar chart -->
<% script('assets/js/pie-chart.js') -%>

<!-- all bar chart -->
<% script('assets/js/bar-chart.js') -%>

<!-- all map chart -->
<% script('assets/js/maps.js') -%>

<!-- others plugins -->
<% script('assets/js/plugins.js') -%>
<% script('assets/js/scripts.js') -%>

<!-- start amcharts -->
<% script('https://www.amcharts.com/lib/3/amcharts.js') -%>
<% script('https://www.amcharts.com/lib/3/ammap.js') -%>
<% script('https://www.amcharts.com/lib/3/maps/js/worldLow.js') -%>
<% script('https://www.amcharts.com/lib/3/serial.js') -%>
<% script('https://www.amcharts.com/lib/3/plugins/export/export.min.js') -%>
<% script('https://www.amcharts.com/lib/3/themes/light.js') -%>